<!DOCTYPE html>
  <html id="list_page">

  <head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../restaurants.css'>
  </head>

  <body id="dine_page">
    <nav>
    <a class="navlinks" href="/">Home</a>
    <a class="navlinks" href="/dinelist/"><img class="navlinks" src="../wishlisticon.png"/>dinelist</h1></a>
    </nav>

    <div class="intro">
      <h1 class="red"> City Foods</h1>
    </div>
    <div class="grid_contain1">
      {{#listdata}}
      <div class="faves">
        <h2>{{name}}</h2>
        <h3>{{city}}</h3>
        <!-- <img class="img_dine" src="{{image}}" width="300" height="200" alt="picture unavailable"> -->
    <ul>
      <li>
        <form>
         
          <input class="res_id" type="hidden" name="id" value="{{id}}">
       
            <details>
                <summary>Add a Review</summary>
                <form>
                    </br>
                    <textarea id="text_comment" data-res-id={{res_id}} name="comment" cols="50" rows="5"></textarea>
                    <br />
                    <input class="comment" method="post" type="button" value="submit">
                    <input id="comment_p" type="hidden" name="id" value="{{id}}">
                </form>
            </details>
            <button class="comments" data-res-id={{res_id}}> View Comments</button>

            <div id={{res_id}}></div>
             <input class="delete" name="delete" value="delete" type="button">
         </form>
        </li>
    </ul>
    {{/listdata}}
    </div>
</body>

</html>