<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
    <h1> Dine list</h1> {{time}}
    <ul>
        {{#listdata}}
        <li>
            <h1>{{name}}</h1>
            <h3>{{city}}</h3>
            <form>
                <input id="delete" name="delete" value="delete" type="button">
                <input id="res_id" type="hidden" name="id" value="{{id}}">
                <!-- <input id="update" name="delete" value="update" type="button">
<input id="update_id" type="hidden" name="id" value="{{id}}"> -->
            </form>
            <details>
                <summary>Add a Review<img id="editimg" src="../edit.png"></summary>
                <form>
                    <!-- <label>Add a Review</label> -->
                    </br>
                    <input id="author" type="text" placeholder="name">
                    <textarea id="text_comment" data-res-id={{res_id}} name="comment" cols="50" rows="5"></textarea>
                    <input id="comment" method="post" type="button" value="submit">
                    <input id="comment_p" type="hidden" name="id" value="{{id}}">
                </form>
            </details>
            <button class="comments" data-res-id={{res_id}}> View Comments</button>
            <div id={{res_id}}></div>
        </li>
    </ul>
    {{/listdata}}
</body>

</html>