This is the main page.
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
    <header>
        <h1>Where are you?</h1>
    </header>
    <div class="container">
        <div class="search-container">
            <label>City:</label>
            <input type="text" id="city" />
            <button id="submit">Search</button>
        </div>
        <div id="result">
        </div>
    </div>
    <!-- <form id="new-beer">
    <input type="text" placeholder="Enter name" name="name" />
    <input type="text" placeholder="Enter category" name="category" />
    <input type="submit" value="Create" />
  </form> -->
</body>

</html>