<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
    <header>
        <h1 class="red"> City Foods</h1>
        <h1>Where are you?</h1>
    </header>
    <form action="/restaurants" method="GET">
        <input type="text" name="city" id="city" placeholder="Enter city name" />
        <button id="submit">Search</button>
    </form>
</body>

</html>