<!DOCTYPE html>
<html id="main_page">

<head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
    <div class="container">
        <div class="intro">
            <h1 class="red"> City Foods</h1>
            <h1 class="subTitle">Where are you?</h1>

            <form action="/restaurants" method="GET">
                <input type="text" name="city" id="city" placeholder="Enter city name" />
                <button id="submit">Search</button>
            </form>
        </div>
    </div>
</body>

</html>