<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
    {{#allRestaurantsData}}
    <h1>{{restaurant.name}}</h1>
    <div>
        <img id="image" src="{{restaurant.featured_image}}" width='500' height='300' alt="picture unavailable">
    </div>
    <div>
        <ul>
            <li>Address :{{ restaurant.location.address}}</li>
            <li> {{restaurant.location.locality}}</li>
            <li>{{restaurant.location.city}}</li>
            <li>{{restaurant.location.zip}}</li>
        </ul>
    </div>
    {{/allRestaurantsData}}
    <div>
    </div>
</body>

</html>