<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
    {{#allRestaurantsData.restaurants}}
    <h1>{{restaurant.name}}</h1>
    <div>
        <img id="image" src="{{restaurant.featured_image}}" width='500' height='300'>
    </div>
    <div>
        <ul>
            <li>Address :{{ restaurant.location.address}}</li>
            <li> {{restaurant.location.locality}}</li>
            <li>{{restaurant.location.city}}</li>
            <li>{{restaurant.location.zip}}</li>
        </ul>
    </div>
    {{/allRestaurantsData.restaurants}}
    <div>
    </div>
</body>
<!-- <body>
    {{#allRestaurantsData.location_suggestions}}
    <h1>{{restaurant.name}}</h1>
    <div id="image">
        {{entity_id}}
    </div>
    {{/allRestaurantsData.location_suggestions}}
    <div>
    </div>
</body> -->

</html>