<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="../jquery.js"></script>
  <script src="../script.js"></script>
  <link rel='stylesheet' type='text/css' href='../restaurants.css'>
  <link href="https://fonts.googleapis.com/css?family=Faustina" rel="stylesheet">
</head>

<body  id="list_page">
  
  <div class="intro">
    <h1 class="red"> City Foods</h1>
    <a href="/dinelist"> <img src="../wishlisticon.png" />dinelist</a>

  </div>
     
  <div class="grid_contain">

    {{#allRestaurantsData}}

    <div class="listing">
      <form action="/restaurants" method="post">
        <h2> {{restaurant.name}}
          <input type="image" src="../wishlisticon.png" />
        </h2>

          <img id="image" src="{{restaurant.featured_image}}" width='500' height='300' alt="picture unavailable">

          <ul>
              <li>Address :{{ restaurant.location.address}}</li>
              <li> {{restaurant.location.locality}}</li>
              <li>{{restaurant.location.city}}</li>
              <li>{{restaurant.location.zip}}</li>
          </ul>
          <div id="comments">
          </div>
           <input type="hidden" name="restaurant_image" value={{restaurant.featured_image}} width="300" height="300">

            <input type="hidden" name="restaurant_id" value={{restaurant.id}}>

            <input type="hidden" name="restaurant_name" value="{{restaurant.name}}" >

            <input type="hidden" name="restaurant_city" value="{{restaurant.location.city}}">
        </form>
    </div>
    {{/allRestaurantsData}}
  </div> 

 </body>

</html>