* {
  font-family: helvetica;
  color: darkblue;
}

body,
html {
  margin: 0 auto;
  background-color: cornflowerblue;
  text-align: center;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: light;
}

h2 {
  color: white;
  font-size: 32px;
}

h3 {
  color: white;
  font-size: 28px;
}

ul {
  list-style-type: none;
}

input,
button {
  font-size: 20px;
  padding: 5px;
  margin: 0 0 0 10px;
  border: 1px solid darkblue;
  border-radius: 4px;
}

details {
  list-style-type: none;
}

#editimg {
  width: 20px;
  height: 20px;
}

.red {
  font-size: 65px;
  color: red;
  letter-spacing: 2px;
}
